/* Default styles */
body {
  margin: 0;
  padding-top: 80px;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 12px 0px;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ffcc00;
  font-family: 'Bebas Neue', sans-serif;
  font-size: larger;
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none; /* Hide the menu icon by default */
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #ffcc00;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    display: none; /* Hide nav links by default on small screens */
    flex-direction: column; /* Stack nav links vertically */
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 20px;
    z-index: 1;
  }

  .nav-links.active {
    display: flex; /* Show nav links when active (toggled) */
  }

  .nav-links li {
    margin: 10px 0; /* Adjust margin for spacing between nav links */
  }

  .nav-links a {
    font-size: 1.2rem; /* Increase font size for better readability */
  }

  .menu-icon {
    display: block; /* Show the menu icon on small screens */
  }

}

/*ICON FOR NAV BAR*/
.contact-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 10px;
}

.contact-icon img {
  width: 20px;
  height: 20px;
}

.contact-icon i {
  font-size: 30px;
  color: #ffcc00;
}

#cartQuantity {
  display: block;
  position: absolute;
  bottom: 40px;
  right: 1px;
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  font-size: 14px;
}



/* !FOR THE COVER IMAGE SECTION */

.hero {
  text-align: center;
  padding: 0px;
  background-color: #333;
  color: white;
}

.hero {
  position: relative;
  overflow: hidden;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
  opacity: 0; /* Initial opacity set to 0 */
  animation: fadeIn 5s ease forwards; /* Animation to fade in */
}

.hero-image {
  width: 100%;
  height: 100%;
  background-color: #ffc107;
  padding-top: 6px;
  object-fit: cover;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ffc107;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  opacity: 0; /* Initial opacity set to 0 */
  animation: slideIn 3s ease forwards; /* Animation to slide in */
}

.cta-button:hover {
  background-color: #ffdb58;
}

/* Define keyframes for animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .hero-content {
    width: 100%;
    max-width: 300px;
  }

  .hero-image {
    height: 900px; /* Increase the height of the image */
    padding-top: 0; /* Remove top padding on mobile */
  }

  .cta-button {
    margin-top: 20px; /* Add some space between content and button */
  }
}


.about-me,
.services,
.blog,
.review-blog {
  padding: 50px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}



/* !ABOUT ME SECTION */

#about {
  padding: 30px 20px;
  background-color: #f9f9f9;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  opacity: 0; /* Initial opacity set to 0 */
  animation: slideIn 1s ease forwards; /* Animation to slide in */
}

.about-me-image {
  width: 40%;
}

.about-me-content {
  width: 55%;
}

.about-me-content h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.about-me-content p {
  color: #555;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* Define keyframes for slide-in animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px); /* Slide in from left */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Slide to final position */
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .about-me {
    flex-direction: column;
  }

  .about-me-image {
    width: 80%;
    margin-bottom: 20px;
    align-self: center; /* Align image to the center */
  }

  .about-me-content {
    width: 80%;
    text-align: left; /* Align text to the left */
  }

  .about-me-content h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .about-me-content p {
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 15px;
  }
}





/* !SERVICES SECTION */

.services {
  padding: 50px 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.services-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.service-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service-item {
  flex: 0 0 auto;
  width: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}



.service-item:hover {
  transform: scale(1.05);
}

.service-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.service-details {
  padding: 20px;
}

.service-details h3 {
  color: #333;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.services {
  opacity: 0;
  transform: translateY(20px);
}

.services.show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.popup-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
  max-width: 800px;
  width: 90%;
  max-height: 70vh;
  overflow-y: auto;
  opacity: 0;
  animation: fadeInPopup 0.8s ease-in-out forwards;
}

@keyframes fadeInPopup {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.popup-image {
  width: 40%;
  border-radius: 8px;
  margin-right: 20px;
}

.popup-details {
  width: 55%;
}

.popup-details h2 {
  color: #333;
  margin-bottom: 15px;
}

.popup-details ul {
  list-style-type: disc;
  padding-left: 20px;
}

.popup-details p {
  line-height: 1.5;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5em;
  cursor: pointer;
  color: #555;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .services {
    padding: 30px 20px;
  }

  .service-items {
    flex-direction: column; /* Display services in a column layout */
    align-items: center; /* Center items horizontally */
  }

  .service-item {
    width: calc(100% - 40px); /* Adjust width to fit the viewport */
    margin-right: 0;
  }

  .service-image {
    height: auto; /* Let the height adjust to the content */
    border-radius: 0; /* Remove border radius */
  }

  .service-details {
    padding: 15px; /* Reduce padding for smaller screens */
  }

  .popup-content {
    width: 90%; /* Reduce width */
    max-width: 400px; /* Limit maximum width */
    height: 80vh; /* Set height to 80% of the viewport height */
    overflow-y: auto; /* Add vertical scroll if needed */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    padding: 20px; /* Add padding */
    box-sizing: border-box; /* Include padding in width calculation */
  }

  .popup-container {
    flex-direction: column; /* Stack image and details vertically */
    align-items: center; /* Center items horizontally */
  }

  .popup-image {
    width: 100%; /* Make the image fill the container */
    max-height: 200px; /* Limit maximum height */
    object-fit: cover; /* Ensure image fills container without stretching */
    border-radius: 8px; /* Apply border radius */
    margin-bottom: 20px; /* Add space between image and details */
  }

  .popup-details {
    width: 100%; /* Make details fill the container */
  }

}










/* !PRICE SECTION */

.price {
  padding: 50px 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.price-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

.price-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.price-item {
  width: 300px;
  margin: 0 10px 20px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.price-item.popular {
  border: 2px solid #ffcc00;
}

.price-info {
  padding: 20px;
  text-align: left;
}

.price-info h3 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.price-info p {
  color: #555;
  margin-bottom: 8px;
  line-height: 1.4;
}

.price-amount {
  background-color: #ffcc00;
  color: #333;
  padding: 20px;
  font-size: 1.5rem;
}

.price-item:hover {
  transform: scale(1.05);
}

.price-dropdown {
  position: relative;
  display: inline-block;
  margin: 0 10px 20px;
}

.price-dropbtn {
  background-color: #fff;
  color: #333;
  padding: 14px;
  font-size: 1rem;
  border: 1px solid #ffcc00;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.price-dropdown:hover .price-dropbtn {
  background-color: #ffcc00;
  transform: scale(1.05);
}

.price-dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 300px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  z-index: 10;
}

.price-dropdown:hover .price-dropdown-content {
  display: block;
}

.price-amount {
  background-color: #ffcc00;
  color: #333;
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-top: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  /* Center-align price title */
  .price-title {
    text-align: center;
  }

  /* Adjust margin for price items */
  .price-item {
    width: calc(100% - 20px); /* Set width to fit the viewport */
    margin: 0 10px 20px; /* Adjust margin */
  }

  /* Adjust padding for price info */
  .price-info {
    padding: 15px; /* Reduce padding */
  }

  /* Adjust font size for price amounts */
  .price-amount {
    font-size: 1.2rem; /* Reduce font size */
  }

  /* Adjust margin for price dropdown */
  .price-dropdown {
    margin: 0 auto 20px; /* Center the dropdown horizontally */
    width: calc(100% - 40px); /* Set width to fit the viewport with some margin */
  }

  /* Adjust width for price dropbtn */
  .price-dropbtn {
    width: calc(100% - 28px); /* Set width to fill the container with some padding */
  }

  /* Adjust width for price dropdown content */
  .price-dropdown-content {
    min-width: unset; /* Remove minimum width */
    width: 100%; /* Set width to fill the container */
  }
}





/* !PRODUCT SECTION */
#products {
  padding: 50px 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.product-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#products h2 {
  margin-bottom: 20px;
}

.product-part {
  display: flex;
  flex-direction: row;
  width: 600px;
  margin-right: 20px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.product-part:hover {
  transform: scale(1.05);
}

.product-image {
  width: 200px;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product-details {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.product-details h3 {
  color: #333;
  margin-bottom: 10px;
}

.product-details p {
  color: #666;
  margin-top: 10px;
}

#template-details {
  text-align: center;
}

.product-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffcc00;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  z-index: 1;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  #products {
    padding: 20px; /* Adjust padding */
  }

  .product-part {
    position: relative; /* Set position to relative for containing the absolute positioned text */
    width: calc(100% - 40px); /* Set width to fill the container with some margin */
    margin: 0 auto 20px; /* Center the product horizontally with bottom margin */
  }

  .product-image {
    width: 100%; /* Set image width to fill its container */
    height: auto; /* Ensure image height adjusts accordingly */
    border-top-left-radius: 0; /* Remove border radius */
    border-bottom-left-radius: 0; /* Remove border radius */
  }

  .product-details {
    position: absolute; /* Set position to absolute */
    bottom: 0; /* Align to the bottom of the product part */
    left: 0; /* Align to the left of the product part */
    width: 100%; /* Ensure text container spans the entire width */
    background-color: rgba(255, 255, 255, 0.7); /* Add background color with opacity */
    padding: 10px; /* Adjust padding */
    box-sizing: border-box; /* Include padding in width calculation */
  }

  .product-details h3 {
    margin: 0; /* Remove margin for better alignment */
  }
}





/* !BLOG SECTION */

#blog {
  text-align: center;
  padding: 20px;
}

.blog-title {
  font-size: xx-large;
  color: #000000;
  margin-bottom: 20px;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-item {
  margin: 20px;
  max-width: 600px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  /* Center-align blog title */
  .blog-title {
    text-align: center;
  }

  /* Adjust margin for video items */
  .video-item {
    margin: 10px; /* Reduce margin */
    max-width: calc(100% - 20px); /* Set maximum width */
    overflow: hidden; /* Prevent overflow */
    border-radius: 10px; /* Optional: Add rounded corners */
  }
}






/*!CUSTOMER REVIEWS */

.customer-reviews {
  padding: 50px 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  display: flex;
  overflow-x: auto;
}

.review {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.review:hover {
  transform: scale(1.05);
}

.review-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.review-details {
  padding: 20px;
}

.review-details h3 {
  color: #333;
  margin-bottom: 10px;
}

.review-details p {
  color: #555;
}




/* !CONTACT SECTION */

#contact {
  padding: 50px 20px;
  background-color: #333333;
  margin: 0px 0;
  text-align: left;
}


.contact-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-section {
  flex: 1;
  color: #ffcc00;
  text-decoration: none;
  font-family: sans-serif;
}

.contact-section ul li a {
  color: #ffffff;
  text-decoration: none;
}


.contact-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-section ul li {
  margin-bottom: 10px;
}


.contact-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}



/* CONTACT (FOLLOW SECTION) */
.follow-us {
  color: #ffcc00;
  font-family: 'Bebas Neue', sans-serif;
  text-align: left;
}

.follow-us p {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.follow-us ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.follow-us li {
  margin-bottom: 10px;
}

.follow-us a img {
  width: 40px;
  height: auto;
}


/*FORM FOR CONTACT*/

.contact-section .contact {
  width: 400px;
  background-color: #333333;
  padding: 0px;

}

.contact-section .form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.contact-section ::placeholder {
  font-family: sans-serif;
  color: #333333;
}

.contact-section .input-container {
  flex: 0 0 calc(50% - 10px);
  margin-bottom: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}


.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 10px;
  background-color: #ffcc00;
  border-radius: 8px;
  font-size: 1em;
  box-sizing: border-box;
}

.button-42 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #000000, #000000);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

.button-42:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  /* Adjust padding for contact section */
  #contact {
    padding: 30px 20px;
  }

  /* Center-align contact section content */
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Set width of contact form to 100% */
  .contact-section .contact {
    width: 100%;
  }

  /* Adjust margin and width of input containers */
  .contact-section .input-container {
    flex: 0 0 100%; /* Take full width */
    margin-right: 0; /* Remove right margin */
    margin-bottom: 15px; /* Increase bottom margin */
  }

  /* Reduce font size of headings */
  .contact-section h2 {
    font-size: 2em;
    margin-bottom: 15px;
  }

  .follow-us {
    text-align: center;
  }

  /* Adjust margin for follow images */
  .follow-us ul {
    margin-top: 20px; /* Increase top margin */
  }

  /* Remove margin for list items */
  .follow-us li {
    margin-bottom: 0; /* Remove bottom margin */
  }
}






/*!CART SECTION*/
#cartPopup {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 1s ease-in-out;
  z-index: 1000;
}


.cart-popup-content {
  max-height: calc(100% - 100px);
  overflow-y: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-popup-content p {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.cart-popup-content ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.cart-popup-content li {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
}

.cart-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cart-popup-buttons {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}

.cart-popup-buttons button {
  width: 100px;
  padding: 15px 0;
  cursor: pointer;
  font-size: 16px;
  border: none;
  text-align: center;
}

.clear-cart {
  flex-grow: 1;
  background-color: #e74c3c;
  color: white;
}

.checkout {
  flex-grow: 1;
  background-color: #2ecc71;
  color: white;
}

.close-button {
  flex-grow: 1;
  background-color: #3498db;
  color: white;
}

.cart-popup-buttons button:hover {
  filter: brightness(90%);
}


/* !FOOTER SECTION */

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}


.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-line {
  background-color: #ffc107;
  padding-top: 10px;
}

.footer-logo {
  font-size: 1.5em;
  font-weight: bold;
}